.qr-main {
  min-height: 100vh;
  padding: 40px 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 160px;
  font-family: 'Montserrat', sans-serif;
}

.qr-title {
  font-size: 32px;
  font-weight: 700;
  color: #0A082C;
  text-align: center;
  margin-bottom: 8px;
}

.qr-sub {
  margin-top: 0px;
  font-size: 18px;
  color: #0A082C;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.qr-image {
  width: 200px;
  height: 200px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.qr-scan-btn {
  margin-left: 80px;
  background-color: #28C840;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.qr-scan-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.right-sectionss {
  display: flex;
  gap: 10px;
  margin-right: -6.5%;
}

.qr-success-message {
  margin-right: -15%;
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
  color: green;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
  line-height: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}