.booking-container {
  padding: 0 300px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin-top: -3%;
}

.floor-section {
  margin-bottom: 0px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #0f0f3a;
  cursor: pointer;
}

.dropdown-arrow {
  font-size: 16px;
  margin-top: 2px;
}

.floor-selector {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.floor-selector button {
  padding: 6px 14px;
  border-radius: 15px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.floor-selector .active {
  background-color: #4a90e2;
  color: white;
}

.booking-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.seat-map {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  gap: 10px;
}

.seat {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.seat.available {
  background-color: #00e0d6;
}

.seat.occupied {
  background-color: #ff4a4a;
}

.seat.maintenance {
  background-color: #c4c4c4;
  color: #333;
}

.legend-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}

.legend p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
}

.legend .seat {
  width: 25px;
  height: 25px;
  border-radius: 6px;
}

.booking-form input {
  margin-bottom: 8px;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.booking-form button {
  padding: 6px 12px;
  width: 100%;
  background-color: #3764f5;
  color: white;
  border: none;
  border-radius: 4px;
}

.room-group-title {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.room-group-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.room-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.room-seats {
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
}

.room-seat {
  width: 36px;
  height: 28px;
  border-radius: 4px;
  background-color: #ccc;
}

.room-seat.available {
  background-color: #00ffe0;
}

.room-seat.occupied {
  background-color: #ff4a4a;
}

.room-seat.maintenance {
  background-color: #c4c4c4;
}

.booking-result {
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.7;
}

.booking-result.success {
  color: green;
}

.booking-result.fail {
  color: red;
}

.booking-form input[type="datetime-local"] {
  padding: 6px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}