@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import './HomePage.css';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  padding: 40px 60px;
  box-sizing: border-box;
  position: relative;
  gap: 60px;
}

.login-form {
  width: 100%;
  max-width: 460px;
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0A082C;
  margin-bottom: 32px;
  text-align: center;
}

.login-form label {
  font-size: 12px;
  color: #333;
  margin-top: 16px;
  margin-bottom: -10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.password-input {
  position: relative;
}

.password-input .toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 120px;
}

.options label {
  font-size: 12px;
}

.options .forgot {
  color: #ff6b6b;
  font-size: 12px;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  background-color: #296BFF;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register-text a {
  color: #ff6b6b;
  text-decoration: none;
  font-weight: bold;
}

.login-image {
  flex-shrink: 0;
  width: 580px;
  transform: translateX(-100px);
}


.login-image img {
  width: 150%;
  max-width: 580px;
}

.form-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16.7px;
  box-sizing: border-box;
  outline: none;
  appearance: none;
}

.form-input::placeholder {
  font-size: 11px;
  color: #888;
  font-family: Arial, sans-serif;
}

.register-success {
  margin-top: 24px;
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}