.myseat-container {
  padding-left: 580px;
  padding-top: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #0A082C;
  margin-bottom: 24px;
}

.booking-info p {
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
  margin-left: -50%;
  line-height: 1.3;
}

.notice p {
  font-size: 18px;
  color: #333;
  line-height: 0;
  margin-left: -50%;
  font-weight: bold;
  margin-top: 50px;
}

.action-buttons {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.btn-qr-main {
  background-color: #00003C;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cancel {
  background-color: #F48B8B;
  color: #00003C;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Dropdown phần chọn chỗ */
.seat-dropdown {
  position: relative;
  margin-bottom: 20px;
}

.dropdown-toggle {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #0A082C;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  transition: all 0.2s ease;
}

.custom-arrow {
  width: 12px;
  height: 12px;
  border: solid #0A082C;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: -80%;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
  margin-right: 10px;
}

.custom-arrow.open {
  transform: rotate(-135deg);
}

.seat-options {
  margin-top: 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.25s ease-in-out;
  width: fit-content;
}

.seat-option {
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.seat-option:hover {
  background-color: #e0e0e0;
}

.seat-option.active {
  background-color: #92d0ff;
  color: #0A082C;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-sections {
  display: flex;
  gap: 10px;
  margin-right: -11.36%;
}

.cancel-message {
  color: red;
  font-weight: bold;
  margin-top: 50px;
  font-size: 25px;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}