.profile-page {
  padding: 0px 518.5px;
  margin-top: -3%;
}

.profile-page h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #0A082C;
  margin-bottom: 40px;
}

.profile-card {
  max-width: 600px;
  width: 150%;
  background: white;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-85px);
}

.profile-top {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.avatar-big {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

.profile-top h2 {
  margin: 0;
  font-size: 20px;
}

.profile-top .email {
  font-size: 14px;
  color: gray;
}

.edit-icon {
  position: absolute;
  left: 55px;
  bottom: -5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 12px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.profile-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.info-row label {
  font-weight: 1000;
}

.btn-save {
  margin-top: 30px;
  background-color: #296BFF;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #3700ff;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}